<html class="zyc-bg-html">
    <head>
        <meta charset="UTF-8">
    </head>
    <body class="zyc-bg-body">
        <div class="zyc-bg-wrapper">

        </div>
    </body>
    <!--you cannot add inline js or directly insert script js in here, it will report an error -->
    <!--e.g. <button inclick="xxx"></button>  or  <script>$('.btn').click(()=>{}) </script>-->
    <script type="text/javascript" src="../static/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="../static/js/background.js"></script>
    <style>
    </style>
</html>